h1 {
  display: flex;
  font-size: 3em;
  color: white;
  border: 1px solid white;
  margin:0;
  width:auto;
  padding:0.1em 0.2em;
  border-radius: 5px;
  letter-spacing: 3px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.profile{
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  display:flex;
  position:relative;
  top:-3rem;
  left: 0;
}
.profile img{
  border: 3px solid white;
  border-radius: 50%;
  margin:0;
  padding: 0;
  width: 8rem;
}

h6 {
  display: flex;
  font-size: 1.3em;
  color: white;
  border-radius: 5px;
  letter-spacing: 3px;
  justify-content: center;
  align-items: center;
  text-align:center;
  position:relative;
  top:3.5rem;
}

.skill-list {
  margin:0;
  padding:0;
  list-style-type: none;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 4.5rem;
}
.skill{
  text-decoration: none;
  font-family: 'spline sans mono', Verdana;
  padding:0 10px;
  font-size: 1em;
  text-transform: uppercase;
  color: white;
}

.skill:nth-child(1){
  border-right: 1px solid white;
}
.skill:nth-child(2){
  border-right: 1px solid white;
}
.skill:nth-child(3){
  border-right: 1px solid white;
}
.skill:nth-child(4){
  border-right: 1px solid white;
}
.skill:nth-child(5){
  border-right: 1px solid white;
}