#checkbox-container{
  display:flex;
  justify-content: center;
  align-items: center;   
  margin:0;
}

#toggle {
  display:none;
}

.checkbox{
  height:100px;
  width:100px;
  position:absolute;
  top:0;
  right:0;
  margin:0;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index:9999;
  transition: 400ms ease-in-out 0s;
}

.checkbox .trace{
  width: 50px;
  height: 2px;
  background-color: white;
  position: absolute;
  margin:0;
  border-radius: 4px;
  transition: 0.35s ease-in-out;

}

.checkbox .trace:nth-child(1) {
  top:26px;
  transform: rotate(0)
}

.checkbox .trace:nth-child(2) {
  top:46px;
  transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
  top: 66px;
  transform: rotate(0)
}

.menu {
  position:absolute;
  margin:0;
  top:28px;
  right: 40px;
  background:transparent;
  height:40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px white;
  z-index:-1;
  transition: 400ms ease-in-out 0s;
}

.menu-items {
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:90vh;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index:2;
  opacity:0;
  visibility: hidden;
  transition: 400ms ease-in-out 0s;
}

.menu-items ul{
  list-style-type: none;
}

.menu-items ul li a{
  margin: 10px 0;
  color:rgb(0, 200, 175);
  text-decoration:none;
  text-transform:uppercase;
  letter-spacing: 3px;
  font-size: 2em;
}

.projects{
  margin: 10px 0;
  color:rgb(0, 200, 175);
  text-decoration:none;
  text-transform:uppercase;
  letter-spacing: 3px;
  font-size: 2em;
}


#toggle:checked + .checkbox .trace:nth-child(1){
  transform: rotate(45deg);
  background-color: rgb(0, 200, 175);
  top:47px;
}

#toggle:checked + .checkbox .trace:nth-child(2){
  transform: translate(-100px);
  width:30px;
  visibility: hidden;
  opacity:0;
}

#toggle:checked + .checkbox .trace:nth-child(3){
  transform: rotate(-45deg);
  background-color: rgb(0, 200, 175);
  top:48px;
}

#toggle:checked + .checkbox{
  background-color: white;
}

#toggle:checked ~ .menu{
  box-shadow: 0px 0px 0px 100vmax white;
  z-index:1;
}

#toggle:checked ~ .menu .menu-items{
  visibility: visible;
  opacity:1;
}