body{
  background-color: lightgray;
  font-family: "spline sans mono",Sans-Serif,Verdana;
  width: 97vw;
  margin: auto;
  padding: 0;
}

.root {
  margin:0;
  padding:0;
  display:flex;
  align-items:center;
  justify-content:center
}